[buildout]
develop = .
parts = test coverage-test coverage-report demo

[test]
recipe = zc.recipe.testrunner
eggs = z3c.formwidget.ckeditor [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.formwidget.ckeditor [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

# ----- Demo app -----

[zope3]
location = .

[demo-app]
recipe = zc.zope3recipes:app
servers = zserver
site.zcml = <include package="z3c.formwidget.ckeditor.demo"
                     file="application.zcml" />
eggs = z3c.formwidget.ckeditor [demo]

[demo]
recipe = zc.zope3recipes:instance
application = demo-app
zope.conf =

  ${database:zconfig}

  <server>
    type WSGI-HTTP
    address 8888
  </server>

  <eventlog>
    level info
    <logfile>
      formatter zope.exceptions.log.Formatter
      path STDOUT
    </logfile>
  </eventlog>

  <accesslog>
    #<logfile>
    #  path STDOUT
    #</logfile>
  </accesslog>

[database]
recipe = zc.recipe.filestorage
